/DataciteRecord.class
/DublinCoreData.class
/Gatherconf$AgentIdSelection.class
/Gatherconf$CrawlerSelection.class
/Gatherconf$Interval.class
/Gatherconf$QuotaUnitSelection.class
/Gatherconf$RobotsPolicy.class
/Gatherconf.class
/Globals.class
/Link.class
/MabRecord$Erscheinungsform.class
/MabRecord$KennzeichnungAmtlicherDruckschriften.class
/MabRecord$Koerperschaft.class
/MabRecord$Literaturtyp.class
/MabRecord$Person.class
/MabRecord$PersonRole.class
/MabRecord$PersonType.class
/MabRecord$Satzstatus.class
/MabRecord$Satztyp.class
/MabRecord$Subject.class
/MabRecord$VeroeffentlichungsSpezifischeAngaben.class
/MabRecord$Veroeffentlichungsart.class
/MabRecord.class
/Message.class
/Node.class
/ObjectType.class
/Pair.class
/RdfResource.class
/RegalObject$Provenience.class
/RegalObject.class
/Transformer.class
/UrlHist.class
/UrlHistEntry.class
/Urn.class
/CoarModel.class
/EmbargoModel.class
/JsonElementModel.class
/OpenAireData.class
/OpenAireRecord.class
